<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <a href="/{{roast._id}}/jabs/new" class="btn btn-primary">+ ADD a Jab</a>
                <a href="{{roast._id}}/edit" class="btn btn-info">△ EDIT this Roast</a>
                <form class="delete-form" action="{{roast._id}}?_method=DELETE" method="POST">
                    <input class="action-btn btn btn-danger" type="submit" value="- DELETE this Roast">
                </form>
            </div>

        </div>
        <div class="col-md-8 text-center">
            <div class="card text-center w-90">
                <h3>{{roast.content}}</h3>
                <p>{{roast.createdOn}}</p>
            </div>
            <br>
            <h3 class="text-white">Jabs:</h3>

            {{#each roast.jabs}}
            <div class="card text-center w-90">
                <div class="card-body">
                    <h4 class="card-title">{{content}}</h4>
                </div>
                <div>
                    <p class="card-text">{{createdOn}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col">

        </div>
    </div>
</div>