<div class="container">
    <h2>{{../user.userName}}</h2>
    <h2>{{roast.content}}</h2>
    <a href="/{{roast._id}}/jabs/new" class="btn btn-danger">Add a Jab</a>
</div><br>

<div class="container">
    <h3>Jabs:</h3>
    {{#each roast.jabs}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="/{{../roast._id}}/jabs/{{id}}"><h5 class="card-title">{{content}}</h5></a>
        </div>
        <div>
            <p class="card-text">{{createdOn}}</p>
        </div>
    </div>
    {{/each}}
</div>